<!DOCTYPE html>
<!-- 493 WARNING
     note that the following CDN links
     will work only when you have internet access
     It incldues
     jQuery
     bootstrap
     and
     angular.js
     note that jQuery is added to enable bootstrap.
     You should NOT use jQuery.
   -->

<html lang="en-US">
<head>
  <title> 493 Artist Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="script.js"></script>
  </title>
</head>
<style>

h5{
  padding-bottom: 5px;
  padding-top: 3px;
}

.genre{
  border:solid 2px;
  border-radius: 3px;
  margin:5px;
  white-space: nowrap;
  background-color:#ccc;
  padding:2px;
}

</style>
<body ng-app = "493Search">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
       <h3>493 Artist Search</h3>
    </div>
  </div>
</nav>
<div class = "container" ng-controller="searchResult">
  <div class = "row searchbar" >
    <div class = "col-lg-12 col-md-12 col-sm-12">
      <h4>Enter the name of the artist and enter : </h4>
      <input type="text" ng-model="artistName" ng-keyup="searchForArtist($event)">
    </div>
  </div>

  <div class = "row" >
    <div class = "col-lg-12 col-md-12 col-sm-12">
      <h4>Search Result (Total {{results.length}} found.)</h4>
      <h4>
        Click to see the detail.
      </h4>
    </div>
  </div>
  <!-- <div class="row" ng-model="resultPairIndexes" ng-repeat="x in resultPairIndexes">
    <p>{{x}}</p>
  </div> -->
  <div class = "row" ng-repeat="secondInPair in resultPairIndexes" style="height:250px">
    <div class = "col-lg-6 col-md-6 col-sm-6" >
      <div class = "col-lg-6 col-md-6 col-sm-6">
        <img src="{{results[secondInPair - 1]['imageUrl']}}" style="max-width:100%; max-height:200px">
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
          <li><a data-toggle="tab" href="#artistInfor">artistInfor</a></li>
        </ul>
        <div class="tab-content">
          <div id="description" class="tab-pane fade in active">
            <p>Artist Name: {{results[secondInPair - 1]["name"]}}</p>
            <p>Collection Name: {{results[secondInPair - 1]['collectionName']}}</p>
            <p>Pricing: ${{results[secondInPair - 1]['collectionPrice']}}</p>
            <p>Type: {{results[secondInPair - 1]['type']}}</p>
            <p>Preview: <a href="{{results[secondInPair - 1]['previewUrl']}}">Link</a></p>
          </div>
          <div id="artistInfor" class="tab-pane fade">
            <h3>artist Infor.</h3>
            <p>This is the artist information</p>
          </div>
        </div>
          
      </div>
      
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-6">
      <div class = "col-lg-6 col-md-6 col-sm-6">
        <img src="{{results[secondInPair]['imageUrl']}}" style="max-width:100%; max-height:200px">
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-6">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#description1">Description</a></li>
          <li><a data-toggle="tab" href="#artistInfor1">artistInfor</a></li>
        </ul>
        <div class="tab-content">
          <div id="description1" class="tab-pane fade in active">
            <p>Artist Name: {{results[secondInPair]["name"]}}</p>
            <p>Collection Name: {{results[secondInPair - 1]['collectionName']}}</p>
            <p>Pricing: ${{results[secondInPair]['collectionPrice']}}</p>
            <p>Type: {{results[secondInPair]['type']}}</p>
            <p>Preview: <a href="{{results[secondInPair]['previewUrl']}}">Link</a></p>
          </div>
          <div id="artistInfor1" class="tab-pane fade">
            <h3>artist Infor.</h3>
            <p>This is the artist information</p>
          </div>
        </div>


        
      </div>
    </div>
  </div>
  <div class="row" ng-if="results.length % 2 == 1" style="height:250px">
    <div class = "col-lg-6 col-md-6 col-sm-6" >
      <div >
        <img src="{{results[results.length - 1]['imageUrl']}}" style="max-width:100%; max-height:200px">
      </div>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-6">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#description2">Description</a></li>
          <li><a data-toggle="tab" href="#artistInfor2">artistInfor</a></li>
        </ul>
        <div class="tab-content">
          <div id="description2" class="tab-pane fade in active">
            <p>Artist Name: {{results[results.length - 1]["name"]}}</p>
            <p>Collection Name: {{results[results.length - 1]['collectionName']}}</p>
            <p>Pricing: ${{results[results.length - 1]['collectionPrice']}}</p>
            <p>Type: {{results[results.length - 1]['type']}}</p>
            <p>Preview: <a href="{{results[results.length - 1]['previewUrl']}}">Link</a></p>
          </div>
          <div id="artistInfor2" class="tab-pane fade">
            <h3>artist Infor.</h3>
            <p>This is the artist information</p>
          </div>
        </div>
      </div>
  </div>  
</div>
</body>
</html>
